@import "../../mixins";

.password-reset {
  p {
    margin-top: 20px;
  }
  label {
    font-size: 11px;
    @include gotham_light_font;
  }
  input[type="password"], input[type="email"] {
    width: 350px;
    margin: 0 auto;
  }
  .container {
    padding-bottom: 40px;
  }
}