@import "../../mixins";

.product-content {
  margin-top: 33px;
  font-size: 12px;

  .product-title {
    @include sahari_bodoni_font;
    font-size: 75px;
    color: $bipolar-black;

    @include xxs {
      margin-top: 26px;
    }

    @include sm {
      margin-top: 0;
    }
  }

  .product-subtitle {
    @include bodoni_bold_font;
    text-transform: uppercase;
    font-size: 15px;
    color: $bipolar-black;
    letter-spacing: 0.2em;
    margin-bottom: 41px;
  }

  .product-colors {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .product-price {
    margin-bottom: 30px;
    .product-amount {
      @include bodoni_bold_font;
      color: $bipolar-black;
      font-size: 33px;
      letter-spacing: 5px;
    }

    .product-original-amount {
      @include bodoni_bold_font;
      color: $bipolar-black;
      opacity: .5;
      text-decoration: line-through;
      font-size: 36px;
      letter-spacing: 5px;
      margin-left: 0.5em;
    }
  }

  .product-description {
    line-height: 1.8;
    margin-bottom: 35px;
  }

  .product-sizes {
    margin-bottom: 20px;

    .product-size {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 7px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      border: 2px solid #c7c6c6;
      color: $bipolar-text-gray;
      background-color: white;
      margin: 0.4em 2px;
      text-align: center;
      transition: border-color 0.15s ease-out,background-color 0.15s ease-out,color 0.15s ease-out,transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 2.7),-webkit-transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 2.7);
      &:hover {
        border-color: $bipolar-color;
        color: $bipolar-color;  
      }
      &:focus {
        outline: none;
      }

      .product-size-text {
        display: inline-block;
        position: relative;
        font-size: 15px;
      }
    }
  
    .product-size-selected {
      @extend .product-size;
      background-color: $bipolar-black;
      border-color: $bipolar-black;
      color: white;
      &:hover {
        background-color: $bipolar-black;
        border-color: $bipolar-black;
        color: white;
      }
    }

    .product-size-disabled {
      @extend .product-size;
      cursor: default;
      opacity: 0.6;
      &:hover {
        border: 2px solid #c7c6c6;
        color: $bipolar-text-gray;
      }

      .product-size-text {
        &::after {
          content: '\00A0';
          position: absolute;
          left: -9px;
          top: 9px;
          width: 36px;
          height: 1.8px;
          background: rgba(170,170,170,0.7);
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }

  .select-styles {
    border: none;
    background-color: $bipolar-gray;
    color: #878787;
    line-height: 1;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    outline: none;
    padding: 0 20px;
    font-size: 15px;
    appearance: none;
    height: 35px;
    background-image: url(../../../img/arrow_down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
  }

  /* .product-size-select {
    @extend .select-styles;
    width: 100%;
  } */

  .quantity-select {
    @extend .select-styles;
    background-color: $bipolar-white;
    color: $bipolar-black;
    border: 1px solid $bipolar-black;
  }

  .product-currency-select {
    @extend .select-styles;
    display: block;
    margin-top: 10px;
    background-color: $bipolar-color;
    color: white;
    font-size: 11px;
    font-family: $gotham-bold-font;
  }

  .btn-sizes-modal {

    @include xxs {
      display: block;
      margin-top: 15px;
    }

    @include md {
      display: block;
      margin-top: 10px;
    }

    @include lg {
      display: inline-block;
      margin-top: 0;
    }

    background-color: #f5f5f5;
    text-transform: uppercase;
    border-radius: 42px;
    font-size: 10px;
    padding: 10px 0;
    color: $bipolar-text-gray;
    min-width: 150px;
    border: none;
    &:hover {
      background-color: $bipolar-color;
      color: white;
    }
  }

  .bipolar-button-description-container {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;

    @include sm {
      margin-top: 0;
    }

    > a {
      display: flex;
      align-items: center;
      line-height: 35px;
      cursor: pointer;
      &:hover, &:active, &:focus {
        text-decoration: none;
        outline: none;
      }

      > .heart-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        color: #999999;
        background-color: $bipolar-gray;
        border-radius: 100%;
        margin-right: 5px;
        padding: 5px;

        &:hover {
          color: $bipolar-white;
          background-color: $bipolar-color;
        }
      }

      > span {
        text-transform: uppercase;
        color: $bipolar-text-gray;
       }
    }
  }

  .bipolar-action-button-container {
    > a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      background-color: $bipolar-gray;
      text-align: center;
      border-radius: 100%;
      line-height: 35px;
      color: #999999;
      margin-right: 5px;

      &:hover {
        background-color: $bipolar-color;
        color: white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .bipolar-stock-status {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
    color: $bipolar-text-gray;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .recommended-products {
    border-top: 1px solid #999999;
    margin-top: 50px;

    h3 {
      @include bodoni_bold_font;
      text-transform: uppercase;
      font-size: 15px;
      color: $bipolar-black;
      letter-spacing: 0.2em;
      margin-bottom: 16px;
    }

    > .row {
      margin-left: 0;
      margin-right: 0;

      @include sm {
        margin-bottom: 25px;
      }

      .recommended {
        padding-left: 0;
        padding-right: 0;

        @include xxs {
          padding-bottom: 10px;

          &:nth-child(odd) {
            padding-right: 5px;
          }

          &:nth-child(even) {
            padding-left: 5px;
          }
        }

        @include sm {
          padding-bottom: 0;

          &:nth-child(odd) {
            padding-right: 5px;
            padding-left: 5px;
          }
          
          &:nth-child(even) {
            padding-right: 5px;
            padding-left: 5px;
          }

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.product-below-content {
  margin-top: 20px;
  vertical-align: middle;
  display: flex;
  align-items: flex-end;

  @include xxs {
    flex-direction: column-reverse;
  }

  @include sm {
    flex-direction: row;
  }

  > * {
    @include xxs {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    @include sm {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

// This is for the tooltip
.tippy-tooltip.bipolar-theme {
  font-size: 11px;
  padding: 7px;
  background-color: $bipolar-black;
}