.shipping-landing {
  h1 {
    font-family: $bodoni-bold-font;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: $bipolar-black;
    margin: 75px 0;
  }

  h6 {
    font-family: $gotham-bold-font;
    font-weight: normal;
    font-size: 13px;
  }

  p {
    margin-bottom: 20px;
  }
}