@import '../../mixins';

.shop-container {
  margin-top: 0px;

  .see-filters-button {
    margin-bottom: 20px;
  }

  .bipolar-shop-results-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .select-orders {
      border: none;
      background-color: $bipolar-gray;
      color: #878787;
      line-height: 1;
      -webkit-border-radius: 42px;
      -moz-border-radius: 42px;
      border-radius: 42px;
      outline: none;
      padding: 0 15px;
      font-size: 12px;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 35px;
      background-image: url(../../../img/arrow_down.png);
      background-repeat: no-repeat;
      background-position: calc(100% - 10px);
      width: 270px;
    }
  }

  .icheck {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 810px) {
  .shop-container {
    margin-top: 0;
  }
}

.filters-container {
  .bipolar-filter-title {
    font-size: 15px;
    font-family: $bodoni-bold-font;
    color: $bipolar-black;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid $bipolar-black;
    letter-spacing: 2.3px;
    margin-top: 15px;
    margin-bottom: 18px;

    &:first-of-type {
      margin-top: 22px;
    }
  }
}

.bipolar-search-button {
  border: none;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background-color: #f5f5f5;
}

.bipolar-product {
  @include xxs {
    margin-bottom: 18px;
  }

  @include sm {
    margin-bottom: 30px;
  }
}

.bipolar-product-showed {
  margin-bottom: 15px;
}

.bipolar-filters {
  display: none;
  margin-bottom: 40px;

  .pretty {
    display: block;
    margin: 8px 0;
  }
}

.bipolar-relevants-title {
  font-size: 17px;
  color: black;
  font-family: $bodoni-bold-font;
}

.bipolar-relevants-subtitle {
  font-size: 12px;
  color: black;
  font-family: $bodoni-bold-font;
}

.bipolar-relevants-discount {
  font-size: 12px;
  color: black;
  font-family: $bodoni-bold-font;
  text-decoration: line-through;
}

.bipolar-product-in-modal {
  position: relative;
  margin: 14px;
}

.pagination {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;

  .page-item {
    .page-link {
      background: $bipolar-gray;
      color: $bipolar-black;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      width: 42px;
      height: 42px;
      margin-left: 8px;
      margin-top: 8px;

      &.active,
      &:hover {
        background: $bipolar-black;
        color: $bipolar-gray;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }
    }
  }
}

.owl-carousel-blog {
  .owl-nav {
    margin: 0;

    button[class*='owl-'] {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 30px;
      transition: all 0.3s;
      top: 0;
      bottom: 0;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 2px solid #ddd;
      font-size: 9px;
      font-weight: 400;
      background-color: $bipolar-white;
      color: #2e2e2e;
      margin: auto;

      &:hover {
        background-color: $bipolar-color;
        color: $bipolar-white;
      }

      &.owl-prev {
        left: 10px;
      }

      &.owl-next {
        right: 10px;
      }
    }
  }
}

.owl-dots {
  display: none;
}

.owl-carousel-thumbnails {
  margin-top: 10px;
}

.bipolar-label-container {
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1em;

  @include media('>=desktop', '<desktop_hd') {
    top: 0.6em;
    left: 0.6em;
  }

  > .bipolar-label-text {
    @include gotham_bold_font;
    display: block;
    background-color: $bipolar-black;
    color: $bipolar-color;
    border-radius: 50px;
    padding: 0.9em 1em 0.8em 1em;
    line-height: 0;
    font-size: 11px;
    text-transform: uppercase;

    @include media('>phone', '<=phone_landscape') {
      font-size: 20px;
    }

    @include media('>=desktop', '<desktop_hd') {
      font-size: 7px;
    }

    &:not(:first-child) {
      margin-top: 0.3em;
    }
  }
}

.shop-discount-preview-container {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: $z-index-shop-discount;

  @include media('>=desktop', '<desktop_hd') {
    top: 0.6em;
    right: 0.6em;
  }

  .shop-discount {
    @include gotham_bold_font;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bipolar-black;
    color: $bipolar-color;
    text-align: center;
    width: 44px;
    height: 44px;
    font-size: 12px;
    border-radius: 100%;

    @include media('>phone', '<=phone_landscape') {
      font-size: 20px;
      width: 60px;
      height: 60px;
    }

    @include media('>=desktop', '<desktop_hd') {
      font-size: 8px;
      width: 30px;
      height: 30px;
    }

    & > span {
      line-height: 0;
    }
  }
}
