@import "../../mixins";

.bipolar-detail-order {
  padding-bottom: 50px;

  h2 {
    @include bodoni_bold_font;
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $bipolar-black;

    &.customer-details-title {
      margin-top: 60px;
    }
  }

  table.table-order {
    width: 100%;
    margin-top: 60px;

    span.price {
      @include bodoni_bold_font;
      font-size: 17px;
      color: $bipolar-black;
    }

    thead {
      th {
        @include bodoni_bold_font;
        font-size: 17px;
        color: $bipolar-black;
        text-transform: uppercase;
        border-bottom: 1px solid #222;
        padding: 10px 15px;
        letter-spacing: 2.55px;
        vertical-align: middle;

        span {
          padding-top: 5px;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }

    tbody {
      tr {
        td {
          position: relative;
          border-top: 1px solid rgba(0,0,0,.1);
          padding: 15px 15px 10px;
          vertical-align: middle;
          color: $bipolar-black;

          &.total-title {
            @include bodoni_bold_font;
            font-size: 17px;
            letter-spacing: 2.55px;
            text-transform: uppercase;
          }

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }

  table.customer-details {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    width: 100%;

    tbody {
      td {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.42;
        color: $bipolar-black;
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid #ddd;
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}
