table.table-buys {
  width: 100%;
  margin-bottom: 50px;

  thead {
    th {
      text-transform: uppercase;
      border-bottom: 1px solid #222;
      padding: 10px 15px;
      font-family: $bodoni-bold-font;
      font-size: 17px;
      color: $bipolar-black;
      font-weight: normal;
      letter-spacing: 2.55px;
    }
  }

  tbody {
    td {
      padding: 10px 15px;

      a.order-link {
        color: $bipolar-color;
      }

      span.price {
        font-family: $bodoni-bold-font;
        font-size: 17px;
        color: $bipolar-black;
        font-weight: normal;
      }

      &.order-actions {
        text-align: right;
      }
    }
  }
}