@import "../../mixins";

$color-disabled: lighten(#6e6e6e, 20);
$color_1: #595959;
$color_2: #999;
$background_color_1: #f5f5f5;

.bipolar-steps {
  @include xxs {
    display: none;
  }

  @include sm {
    display: flex;
  }

  margin: 20px 0;

  &__one {
    display: inline-block;
    max-width: 200px;

    &__line {
      margin-bottom: 20px;
      height: 34px;

      img {
        max-width: 200px;
        height: 100%;
      }
    }

    &__title {
      @include bodoni_bold_font;
      color: $bipolar-black;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2.55px;
      margin-bottom: 20px;
      line-height: 23px;

      &--disabled {
        color: $color-disabled;
      }
    }

    &__date {
      @include bodoni_bold_font;
      color: $bipolar-black;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2.55px;

      &--disabled {
        color: $color-disabled;
      }
    }
  }
}

.bipolar-steps-mobile {
  @include bodoni_bold_font;
  text-transform: uppercase;
  color: $bipolar-black;
  letter-spacing: 3px;
  font-size: 13px;
  border-bottom: 1px solid $bipolar-black;
  padding-bottom: 20px;

  @include xxs {
    display: block;
    margin-bottom: 20px;
  }

  @include sm {
    display: none;
  }

  &__title {
    color: $bipolar-color;
    font-size: inherit;
    line-height: 20px;
    margin: 0;
  }

  &__subtitle {
    font-size: inherit;
    line-height: 20px;
    margin: 0;
  }
}
