// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.

@font-face {
  font-family: "GothamLight";
  font-weight: normal;
  src: url("../../fonts/Gotham/Gotham-Light.otf");
}

@font-face {
  font-family: 'BauerBodoniStd', 'Times New Roman', sans-serif;
  font-weight: normal;
  src: url('../../fonts/Bodoni/BauerBodoniStd Roman.otf');
}

@font-face {
  font-family: 'BauerBodoniStdBold', 'Times New Roman Bold', sans-serif;
  font-weight: normal;
  src: url('../../fonts/Bodoni/BauerBodoniStd Bold.otf');
}

@font-face {
  font-family: "SaharaBodoni", monospace;
  src: url('../../fonts/Sahara Bodoni/SaharaBodoni.otf');
}

@font-face {
  font-family: "GothamBold", sans-serif;
  font-weight: normal;
  src: url('../../fonts/Gotham/Gotham-Bold.otf');
}


// Plugins
@import "~sweetalert2/src/sweetalert2";
@import "~select2/dist/css/select2";
@import "~switchery/switchery.css";
@import "~dropzone/dist/min/dropzone.min";
@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min";
// Bootstrap Datetimepicker Fix
.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 50%;
}

input[type="checkbox"] {
  margin-right: 0.7em;
  cursor: pointer;
}

.demo-editor-content {
  border: 1px solid #f1f1f1;
  height: 275px;
  padding: 5px;
  border-radius: 2px;
}

#sortable-products {
  height: 100vh;
  overflow-y: scroll;
}

/*
.swal2-popup {
  font-size: 1.6rem !important;
}*/
