// Replacing including media breakpoints
$breakpoints: (
  'phone': 414px,
  'phone_landscape': 736px,
  'tablet': 768px,
  'desktop': 1024px,
  'desktop_hd': 1366px,
) !default;
@import '~include-media/dist/include-media';

// Fonts
@mixin bodoni_font() {
  font-family: 'BauerBodoniStd', 'Times New Roman', sans-serif;
  font-weight: normal;
}

@mixin bodoni_bold_font() {
  font-family: 'BauerBodoniStdBold', 'Times New Roman Bold', sans-serif;
  font-weight: normal;
}

@mixin sahari_bodoni_font() {
  font-family: 'SaharaBodoni', monospace;
}

@mixin gotham_light_font() {
  font-family: 'GothamLight', sans-serif;
  font-weight: normal;
}

@mixin gotham_bold_font() {
  font-family: 'GothamBold', sans-serif;
  font-weight: normal;
}

// Bootstrap Media Queries
@mixin xxs {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

@mixin xs {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin xlg {
  @media only screen and (min-width: 1408px) {
    @content;
  }
}

@mixin xxlg {
  @media only screen and (min-width: 2000px) {
    @content;
  }
}

// Variables media querie from Bulma
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 768px !default;
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default;
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default;
$widescreen-enabled: true !default;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default;
$fullhd-enabled: true !default;

// Custom variables
$landscape_mobile: 736px;
$hd_desktop: 1366px;
$tablet_width_min: 1024px;

// Bulma Media Queries
@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @if $widescreen-enabled {
    @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
      @content;
    }
  }
}

@mixin until-widescreen {
  @if $widescreen-enabled {
    @media screen and (max-width: $widescreen - 1px) {
      @content;
    }
  }
}

@mixin widescreen {
  @if $widescreen-enabled {
    @media screen and (min-width: $widescreen) {
      @content;
    }
  }
}

@mixin widescreen-only {
  @if $widescreen-enabled and $fullhd-enabled {
    @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px) {
      @content;
    }
  }
}

@mixin until-fullhd {
  @if $fullhd-enabled {
    @media screen and (max-width: $fullhd - 1px) {
      @content;
    }
  }
}

@mixin fullhd {
  @if $fullhd-enabled {
    @media screen and (min-width: $fullhd) {
      @content;
    }
  }
}

// Device mediaqueries

@mixin iphone678plus_full {
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    @content;
  }
}

@mixin iphone678plus_portrait {
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    @content;
  }
}

@mixin iphone678plus_landscape {
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    @content;
  }
}

@mixin iphoneX_full {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    @content;
  }
}

@mixin iphoneX_portrait {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    @content;
  }
}

@mixin iphoneX_landscape {
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
    @content;
  }
}

@mixin iphone_full {
  @include iphone678plus_full() {
    @content;
  }

  @include iphoneX_full() {
    @content;
  }
}

@mixin iphone_portrait {
  @include iphone678plus_portrait() {
    @content;
  }

  @include iphoneX_portrait() {
    @content;
  }
}

@mixin iphone_landscape {
  @include iphone678plus_landscape() {
    @content;
  }

  @include iphoneX_landscape() {
    @content;
  }
}
