.btn-dark {
  color: white;
  background-color: $bipolar-black;
  border-color: $bipolar-black;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: #312E36;
    border-color: $bipolar-black;
  }
}

.open .dropdown-toggle.btn-dark {
  color: white;
  background-color: #312E36;
  border-color: $bipolar-black;
}

.btn-dark {
  &:active, &.active {
    background-image: none;
  }
}

.open .dropdown-toggle.btn-dark {
  background-image: none;
}

.btn-dark {
  &.disabled, &[disabled] {
    background-color: $bipolar-black;
    border-color: $bipolar-black;
  }
}

fieldset[disabled] .btn-dark {
  background-color: $bipolar-black;
  border-color: $bipolar-black;
}

.btn-dark {
  &.disabled:hover, &[disabled]:hover {
    background-color: $bipolar-black;
    border-color: $bipolar-black;
  }
}

fieldset[disabled] .btn-dark:hover {
  background-color: $bipolar-black;
  border-color: $bipolar-black;
}

.btn-dark {
  &.disabled:focus, &[disabled]:focus {
    background-color: $bipolar-black;
    border-color: $bipolar-black;
  }
}

fieldset[disabled] .btn-dark:focus {
  background-color: $bipolar-black;
  border-color: $bipolar-black;
}

.btn-dark {
  &.disabled:active, &[disabled]:active {
    background-color: $bipolar-black;
    border-color: $bipolar-black;
  }
}

fieldset[disabled] .btn-dark:active {
  background-color: $bipolar-black;
  border-color: $bipolar-black;
}

.btn-dark {
  &.disabled.active, &[disabled].active {
    background-color: $bipolar-black;
    border-color: $bipolar-black;
  }
}

fieldset[disabled] .btn-dark.active {
  background-color: $bipolar-black;
  border-color: $bipolar-black;
}

.btn-dark .badge {
  color: $bipolar-black;
  background-color: white;
}

.btn-rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.btn-add-cart {
  @extend .btn-dark;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 25px;
  font-family: $gotham-bold-font;
  font-size: 11px;
  font-weight: 400;
  border-radius: 42px;
  -webkit-font-smoothing: antialiased;
  &:hover {
    color: $bipolar-black;
    background: white;
    border: 1px solid $bipolar-black;
  }
}

.quantity-content {
  display: inline-block;
  width: 120px;
  position: relative;
  margin-right: 4px;

  button[data-type="minus"] {
    left: 7px;
  }

  button[data-type="plus"] {
    right: 7px;
  }

  >.btn-number {
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 10px;
    border-radius: 100%;
    background: white;
    padding: 0;
    color: #878787;
    border: 1px solid #878787;
    letter-spacing: -1px;
    top: 11px;
    z-index: 30;
  }

  .quantity-number {
    width: 120px;
    height: 36px;
    border-radius: 42px;
    color: #878787;
    background-color: #f5f5f5;
    font-size: 14px;
    border: none;
    text-align: center;
    outline: none;
    z-index: 10;
  }
}