$breadcrumb-bg: #f5f5f5;
$breadcrumb-text-color: #25282c;
$meta-bg: #f5f5f5;
$meta-text-color: #878787;
@import "../mixins";

.bipolar-blog-page {
  .breadcrumb-wrapper {
    background-color: $breadcrumb-bg;

    ul.breadcrumbs {
      list-style: none;
      margin: 20px 0;

      li {
        color: $breadcrumb-text-color;
        display: inline-block;

        + li::before {
          content: "\00bb";
          display: inline-block;
          font-family: times, serif;
          font-size: 20px;
          padding: 0 10px;
        }

        span {
          text-transform: uppercase;
        }
      }
    }
  }

  .posts-wrapper {
    margin: 50px 0;

    article {
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid #ddd;

      header {
        @include bodoni_bold_font;
        font-size: 38px;
        letter-spacing: 3px;
        margin-bottom: 20px;

        a {
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
            outline: none;
            color: $bipolar-color;
          }
        }
      }

      nav.meta {
        display: flex;
        align-items: center;
        border-radius: 36px;
        background-color: $meta-bg;
        color: $meta-text-color;
        padding: 6px 15px;
        margin-bottom: 30px;

        span {
          @include gotham_light_font;
          display: inline-flex;
          align-items: center;
          font-size: 12px;
          text-transform: uppercase;
          margin-right: 30px;

          .svg {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-right: 5px;
            path {
              fill: $meta-text-color;
            }
          }

          &:hover {
            color: $bipolar-color;

            .svg path {
              fill: $bipolar-color;
            }
          }
        }
      }

      section.post-images {
        margin-bottom: 30px;
      }
    }
  }
}
