.bipolar-checkout {
  .panel-default {
    border: none;
    box-shadow: none;
    &:nth-last-child() {
      margin-bottom: 40px;
    }

    .panel-heading {
      background: none;
      text-align: center;
      border-radius: 0;
      border: none;

      a {
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid #eee;
        padding: 10px 15px;
        color: $bipolar-black;
        font-family: $bodoni-bold-font;
        font-size: 17px;
        letter-spacing: 2.5px;
      }

      & + .panel-collapse {
        > .panel-body {
          border: 1px solid #eee;
          border-radius: 20px;
          &.centered {
            text-align: center;
          }
          
          .form-group > label {
            font-weight: normal;
            text-align: left;
            text-transform: uppercase;
            padding-left: 10px;
            font-size: 11px;
            font-family: $gotham-bold-font;
            color: $bipolar-black;
          }
        }
      }
    }
  }

  .table-review-order {
    border: none;
    border-bottom: 1px solid #eee;
    text-align: left;
    width: 100%;
    margin-bottom: 40px;

    thead {
      th {
        font-family: $bodoni-bold-font;
        font-size: 17px;
        color: $bipolar-black;
        letter-spacing: 2.55px;
        text-transform: uppercase;
        border-bottom: 1px solid #222;
        padding: 10px 15px;
      }
    }

    tbody {
      tr {
        border-top: 1px solid rgba(0,0,0,.1);

        td {
          padding: 10px 15px;
          vertical-align: middle;
          color: $bipolar-black;
  
          &.product-name {
            font-family: $bodoni-bold-font;
            font-size: 17px;
            font-weight: normal;
  
            .stock-variation {
              font-family: $gotham-light-font;
              font-weight: normal;
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 0;
            }
          }
          
          &.total {
            font-family: $gotham-light-font;
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0;
          }
        }

        .amount {
          font-family: $bodoni-bold-font;
          font-size: 17px;
          color: $bipolar-black;
        }
      }
    }
  }

  .payment-method {
    border: 1px solid #eee;
    border-radius: 40px;
    height: 40px;
    line-height: 40px;

    .checkbox-content {
      font-family: $gotham-bold-font;
      text-transform: uppercase;
      color: $bipolar-black;
      padding-left: 10px;
      font-size: 11px;
    }
  }

  .submit-payment {
    padding: 13px;

    p {
      padding: 0 13px;
      margin-top: 22px;
      
      label {
        font-family: $gotham-bold-font;
        font-size: 11px;
        color: $bipolar-black;
        text-transform: uppercase;
        padding-left: 10px;
        font-weight: normal;
      }

      a {
        color: $bipolar-color;
      }
    }
  }

  .select2 {
    &:focus {
      outline: none;
    }
  }
  
  .select2-container--default .select2-selection--single {
    background-color: #f5f5f5;
    color: #878787;
    border: 1px solid #f5f5f5;
    border-radius: 50px;
    min-height: 34px;
    padding: 3px 15px;

    .select2-selection__arrow b {
      left: 0;
      margin-top: 0;
    }
  }

  .select-2-countries, .select-2-country-states {
    border: none;
    background-color: $bipolar-gray;
    color: #878787;
    line-height: 1;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    outline: none;
    padding: 0 25px;
    font-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    background-image: url(../../img/arrow_down.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
  }

  .address-list {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 20px;
    margin-top: 15px;

    .address-list-option {
      margin-right: 10px;
    }

    .address-list-title {
      text-transform: uppercase;
      font-family: $bodoni-bold-font;
      color: $bipolar-black;
      font-size: 17px;
      letter-spacing: 2.5px;
    }

    .address-list-content {
      display: flex;
      justify-content: space-between;

      .address-list-of-lists {
        list-style: none;
        padding-left: 28px;
  
        > li {
          text-transform: uppercase;
          font-size: 11px;
          color: $bipolar-black;
          font-family: $gotham-bold-font;
        }
      }

      .trash-icon {
        cursor: pointer;
        display: flex;
        align-items: flex-end;
      }
    }
  }
}