.bipolar-detail-order {
  padding-bottom: 50px;

  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-family: $bodoni-bold-font;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $bipolar-black;
  }

  table.table-order {
    width: 100%;

    span.price {
      font-size: 17px;
      font-family: $bodoni-bold-font;
      color: $bipolar-black;
      font-weight: normal;
    }

    thead {
      th {
        font-family: $bodoni-bold-font;
        font-size: 17px;
        color: $bipolar-black;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom: 1px solid #222;
        padding: 10px 15px;
        letter-spacing: 2.55px;
      }
    }

    tbody {
      td {
        position: relative;
        border-top: 1px solid rgba(0,0,0,.1);
        padding: 10px 15px;
        vertical-align: middle;
        color: $bipolar-black;
      }
    }
  }

  table.customer-details {    
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    width: 100%;

    tbody {
      td {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.42;
        color: $bipolar-black;
        padding: 8px;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
}