.bipolar-grand-header {
  position: absolute;
  width: 100%;
  z-index: $z-index-navbar;
  top: 0;
  transition: all 0.5s;

  &.bipolar-grand-header-hidden {
    position: fixed;
    transform: translateY(-164px);
  }

  .bipolar-navigation {
    &.has-shadow {
      box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.4);
    }
    &.has-background {
      background: $bipolar-color;
      transition: 0.8s;
    }

    .container.resized-container {
      max-width: 900px;
    }

    ul.bipolar-items {
      display: flex;
      list-style: none;
      justify-content: space-around;
      min-height: 60px;
      align-items: center;
      margin: 0;
      padding: 0;

      li.bipolar-item {
        cursor: pointer;

        a {
          &:hover,
          &:focus {
            text-decoration: none;
            outline: none;
          }

          .item-text {
            font-size: 15px;
            font-family: $bodoni-bold-font;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 4px;

            &:hover,
            &:focus {
              color: white;
              outline: none;
            }
          }

          .the-line {
            border-top: 1px solid white;
            width: 0%;
            margin: auto;
            transition: all 0.5s;

            &.is-active {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.bipolar-first-navbar {
  max-height: 42px;
  min-height: 42px;
}

.bipolar-second-navbar {
  position: relative;
  padding: 10px 0 40px;

  .bipolar-navbar-social-links {
    width: 30%;
    padding: 0;
    margin: -10px 0 0;
    list-style: none;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    > li + li {
      padding-left: 15px;
    }
    > li {
      display: inline-block;
      padding: 5px 0;
      > a {
        font-size: 17px;
      }
    }
  }

  .bipolar-header-logo {
    width: 40%;
    padding: 20px 0 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-align: center;
  }

  .bipolar-shopping-cart-wrapper {
    position: relative;
    width: 29%;
    font-size: 14px;
    margin: -10px 0 0;
    padding: 0 15px 0 0;
    text-align: right;
    display: inline-block;
    vertical-align: top;

    .bipolar-shopping-cart-content {
      display: inline-block;
      text-align: left;
      cursor: pointer;

      .cart-number-count {
        position: absolute;
        font-weight: bold;
        background-color: $bipolar-black;
        color: white;
        font-size: 11px;
        font-family: $gotham-bold-font;
        padding: 2px;
        border-radius: 100%;
        top: 0;
        right: 5px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 17px;
      }

      .cart-inside {
        visibility: hidden;
        position: absolute;
        display: block;
        background: $bipolar-white;
        box-shadow: 0 3px 10px -2px #777;
        padding: 0 22px;
        top: 40px;
        right: -8px;
        width: 370px;
        z-index: 10;

        .empty-cart {
          padding: 2.5em 0;

          h4 {
            font-size: 16px;
            font-family: $bodoni-bold-font;
            word-spacing: 0.2em;
            color: $bipolar-black;
            letter-spacing: 2.4px;
          }

          p {
            font-family: $gotham-light-font;
            font-size: 14px;
            color: #868686;
          }
        }

        ul.cart-list {
          list-style: none;
          line-height: 20px;
          padding: 0;
          margin: 0;

          li {
            padding: 10px 0;
            border-bottom: solid 1px #ddd;
            position: relative;

            > a.product-link-cart {
              display: block;
              font-family: $bodoni-bold-font;
              font-size: 17px;
              color: $bipolar-black;
              font-weight: normal;

              > img {
                float: left;
                width: 70px;
                height: 40px;
                padding-right: 10px;
              }
            }

            .quantity {
              font-family: $bodoni-bold-font;
              color: $bipolar-black;
              font-size: 12px;
              font-weight: normal;
            }

            .product-delete-cart {
              position: absolute;
              right: 0;
              top: 20px;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
            }
          }
        }

        .total {
          border-bottom: solid 1px #ddd;
          padding: 10px 0;
          font-size: 16px;
          color: $bipolar-text-gray;
          font-weight: 400;
          margin-bottom: 20px;

          strong {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 400;
          }

          .amount {
            font-family: $bodoni-bold-font;
            font-size: 17px;
            color: $bipolar-black;
            font-weight: normal;
          }
        }

        .buttons {
          text-align: center;
          margin-bottom: 20px;

          .btn:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.background-line-image {
  background: url('../../img/linea.png') repeat-x 0 55px;
}

.bipolar-alternate-grand-header {
  @extend .bipolar-grand-header;
  transition: all 0.3s;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.4);
  li:first-child {
    margin-top: 10px;
    margin-right: 10px;
  }
  li:not(:first-child) {
    margin-top: 24px;
    margin-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    a {
      font-family: $bodoni-bold-font;
      font-size: 15px;
      text-transform: uppercase;
      padding-bottom: 6px;
      letter-spacing: 4px;
      &:hover {
        color: white;
        border-bottom: 1px solid white;
        text-decoration: none;
      }
    }
  }
}

.bipolar-header-desktop {
  position: absolute;
  z-index: 30;
  width: 100%;
}

.header-mobile {
  background: $bipolar-color url('../../img/linea.png') repeat-x 0 55px;
  padding: 30px;
  text-align: center;
}

.header-desktop {
  background: $bipolar-color url('../../img/linea.png') repeat-x 0 25px;
  text-align: center;
  z-index: 3;
  margin-top: -25px;
}

.header-desktop-transparent {
  @extend .header-desktop;
  background: transparent url('../../img/linea.png') repeat-x 0 25px;
}

.bipolar-navbar-styles {
  margin-bottom: 0;
  border-radius: 0;
}

.nav .open > a {
  background-color: transparent;
  border-color: transparent;
  &:hover,
  &:focus {
    background-color: transparent;
    border-color: transparent;
  }
}

.nav > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: transparent;
  }
}

.navbar-brand {
  font-size: 12px;
  word-spacing: 1px;
  font-family: $gotham-light-font;
  span {
    font-family: $gotham-bold-font;
    color: $bipolar-black;
  }
}

.navbar-right-text {
  font-family: $gotham-bold-font;
  color: $bipolar-black;
  font-size: 12px;

  > .fa {
    font-size: 10px;
  }
}

.navbar-nav {
  i {
    font-size: 1.2em;
  }
}

.full-image {
  width: 100%;
}

.bipolar-dropdown-menu {
  display: none;
  position: absolute;
  list-style: none;
  top: 84%;
  right: 15%;
  padding: 0;
  margin: 0;
  background: $bipolar-white;
  -webkit-box-shadow: 0 3px 10px -2px #777;
  -moz-box-shadow: 0 3px 10px -2px #777;
  box-shadow: 0 3px 10px -2px #777;
  min-width: 180px;
  z-index: 10;

  &.in-mobile {
    top: 2%;
  }

  li {
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;

    & + li {
      border-top: solid 1px #f5f5f5;
    }

    &:hover {
      background: #f5f5f5;
    }

    a {
      display: block;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      color: $bipolar-black;
      word-spacing: 1px;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        outline: none;
      }

      &.inside {
        margin-left: 20px;
      }

      > .fa {
        font-size: 12px;
      }
    }
  }
}
