.text-heading-mobile {
  font-family: $gotham-bold-font;
  font-size: 12px;
  padding-top: 17px;
  color: $bipolar-black;
}

.text-heading-account {
  font-family: $gotham-bold-font;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $bipolar-black;
  padding-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .header-mobile-menu {
    display: block;
    background: $bipolar-black;
    color: $bipolar-white;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px;

    .menu-button {
      font-family: $bodoni-bold-font;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    .cart-white-mobile {
      position: relative;
      display: block;
      float: right;
      font-size: 22px;
      top: -5px;
      left: -15px;

      .cart-number-count-inverse {
        position: absolute;
        background-color: $bipolar-color;
        color: $bipolar-black;
        font-family: $gotham-bold-font;
        font-size: 11px;
        border-radius: 100%;
        top: 0;
        right: -10px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
      }

      .cart-inside-mobile {
        visibility: hidden;
        position: absolute;
        display: block;
        background: $bipolar-white;
        box-shadow: 0 3px 10px -2px #777;
        padding: 0 22px;
        top: 40px;
        right: -30px;
        width: 293px;
        z-index: 10;

        .empty-cart {
          padding: 2.5em 0;

          h4 {
            font-size: 16px;
            font-family: $bodoni-bold-font;
            word-spacing: 0.2em;
            color: $bipolar-black;
            letter-spacing: 2.4px;
          }

          p {
            font-family: $gotham-light-font;
            font-size: 14px;
            color: #868686;
          }
        }

        ul.cart-list {
          list-style: none;
          line-height: 20px;
          padding: 0;
          margin: 0;

          li {
            padding: 10px 0;
            border-bottom: solid 1px #ddd;
            position: relative;

            > a.product-link-cart {
              display: block;
              font-family: $bodoni-bold-font;
              font-size: 17px;
              color: $bipolar-black;
              font-weight: normal;

              > img {
                float: left;
                width: 70px;
                height: 40px;
                padding-right: 10px;
              }
            }

            .quantity {
              font-family: $bodoni-bold-font;
              color: $bipolar-black;
              font-size: 12px;
              font-weight: normal;
            }

            .product-delete-cart {
              position: absolute;
              right: 0;
              top: 20px;
            }
          }
        }

        .total {
          border-bottom: solid 1px #ddd;
          padding: 10px 0;
          font-size: 16px;
          color: $bipolar-text-gray;
          font-weight: 400;
          margin-bottom: 20px;

          strong {
            text-transform: uppercase;
            font-size: 12px;
          }
        
          .amount {
            font-family: $bodoni-bold-font;
            font-size: 17px;
            color: $bipolar-black;
            font-weight: normal;
          }
        }

        .buttons {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }

  .responsive-menu-black {
    display: none;
    padding: 0 15px;
    margin: 0;
    background: #222;
    list-style: none;

    li {
      > a {
        color: $bipolar-white;
        padding: 10px 0;
        display: block;
        position: relative;
        outline: none;
        border-bottom: 1px solid #333;
        > span {
          font-family: $bodoni-bold-font;
          font-size: 15px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
      }
    }
  }
}
