.form-control {
  &:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
  }
}

.bipolar-login-register-content {
  margin-top: 100px;
  margin-bottom: 25px;

  .bipolar-login-register-cols {
    padding: 50px 40px;
  }

  .bipolar-login-col {
    border: 5px solid #eee;
    padding: 45px 40px;
  }

  .bipolar-facebook-button {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .bipolar-title-login-register {
    font-size: 16px;
    font-family: $bodoni-bold-font;
    color: $bipolar-black;
    letter-spacing: 0.2em;
  }

  .forgot-password {
    margin-top: 20px;
  }
}