.bipolar-filter-title {
  font-size: 15px;
  font-family: $bodoni-bold-font;
  color: $bipolar-black;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid $bipolar-black;
  letter-spacing: 2.3px;
  margin-top: 15px;
}

.bipolar-search-button {
  border: none;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background-color: #f5f5f5;
}

.bipolar-shop-results-filter {
  margin-bottom: 17px;
}

.bipolar-product {
  margin-bottom: 30px;
}

.bipolar-product-showed {
  margin-bottom: 15px;
}

.bipolar-filters {
  display: none;
  margin-bottom: 40px;
  .icheck {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.bipolar-relevants-title {
  font-size: 17px;
  color: black;
  font-family: $bodoni-bold-font;
}

.bipolar-relevants-subtitle {
  font-size: 12px;
  color: black;
  font-family: $bodoni-bold-font;
}

.bipolar-product-in-modal {
  margin: 14px 0;
}

.pagination {
  li {
    a.page-number {
      background: $bipolar-gray;
      color: $bipolar-black;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      width: 42px;
      height: 42px;
      margin-left: 12px;

      &.active, &:hover {
        background: $bipolar-black;
        color: $bipolar-gray;
      }
    }
  }
}

.owl-carousel-main {
  margin-bottom: 10px;
}

.shop-discount-container {
  position: absolute;
  top: 7%;
  right: 10%;
  z-index: $z-index-shop-discount;

  .shop-discount {
    background-color: $bipolar-black;
    color: $bipolar-color;
    text-align: center;
    line-height: 45px;
    width: 44px;
    height: 44px;
    font-size: 15px;
    border-radius: 100%;
  }
}