.shop-container {
  margin-top: 70px;

  .see-filters-button {
    margin-bottom: 20px;
  }

  .bipolar-shop-results-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .select-orders {
      border: none;
      background-color: $bipolar-gray;
      color: #878787;
      line-height: 1;
      -webkit-border-radius: 42px;
      -moz-border-radius: 42px;
      border-radius: 42px;
      outline: none;
      padding: 0 15px;
      font-size: 12px;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 35px;
      background-image: url(../../img/arrow_down.png);
      background-repeat: no-repeat;
      background-position: calc(100% - 10px);
      max-width: 100%;
    }
  }

  .icheck {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .shop-container {
    margin-top: 0;
  }
  .filters-container {
    display: none;
  }
}

.bipolar-filter-title {
  font-size: 15px;
  font-family: $bodoni-bold-font;
  color: $bipolar-black;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid $bipolar-black;
  letter-spacing: 2.3px;
  margin-top: 15px;
}

.bipolar-search-button {
  border: none;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  background-color: #f5f5f5;
}

.bipolar-product {
  margin-bottom: 30px;
}

.bipolar-product-showed {
  margin-bottom: 15px;
}

.bipolar-filters {
  display: none;
  margin-bottom: 40px;
  .pretty {
    display: block;
    margin: 8px 0;
  }
}

.bipolar-relevants-title {
  font-size: 17px;
  color: black;
  font-family: $bodoni-bold-font;
}

.bipolar-relevants-subtitle {
  font-size: 12px;
  color: black;
  font-family: $bodoni-bold-font;
}

.bipolar-relevants-discount {
  font-size: 12px;
  color: black;
  font-family: $bodoni-bold-font;
  text-decoration: line-through;
}

.bipolar-product-in-modal {
  margin: 14px 0;
}

.pagination {
  li {
    a.page-number {
      background: $bipolar-gray;
      color: $bipolar-black;
      border: none;
      border-radius: 100%;
      line-height: 30px;
      width: 42px;
      height: 42px;
      margin-left: 12px;

      &.active, &:hover {
        background: $bipolar-black;
        color: $bipolar-gray;
      }
    }
  }
}

.owl-carousel-blog {
  .owl-nav {
    margin: 0;

    button[class*='owl-'] {
      position: absolute;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 30px;
      transition: all .3s;
      top: 0;
      bottom: 0;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border: 2px solid #ddd;
      font-size: 9px;
      font-weight: 400;
      background-color: $bipolar-white;
      color: #2e2e2e;
      margin: auto;
      
      &:hover {
        background-color: $bipolar-color;
        color: $bipolar-white;
      }

      &.owl-prev {
        left: 10px;
      }

      &.owl-next {
        right: 10px;
      }
    }
  }
}


.owl-dots {
  display: none;
}

.owl-carousel-thumbnails {
  margin-top: 5px;
}

.shop-discount-container {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: $z-index-shop-discount;
  font-family: $bodoni-bold-font;

  .shop-discount {
    background-color: $bipolar-black;
    color: $bipolar-color;
    text-align: center;
    line-height: 45px;
    width: 44px;
    height: 44px;
    font-size: 15px;
    border-radius: 100%;
  }
}

.shop-discount-preview-container {
  position: absolute;
  top: 5%;
  right: 9%;
  z-index: $z-index-shop-discount;
  font-family: $bodoni-bold-font;

  .shop-discount {
    background-color: $bipolar-black;
    color: $bipolar-color;
    text-align: center;
    line-height: 45px;
    width: 44px;
    height: 44px;
    font-size: 15px;
    border-radius: 100%;
  }
}