@import "../mixins";

body {
  @include gotham_light_font;
  font-size: 13px;
  color: $bipolar-text-gray;
  padding-top: 224px;
  padding-bottom: 363px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.no-top {
    padding-top: 0;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 0;
    padding-bottom: 0;
  }
}

button {
  &:hover, &:focus, &:active {
    outline: none;
  }
}

.swal2-popup {
  font-size: 1.6rem !important;
}

.bipolar-wrapper {
  position: relative;
  z-index: 1;
}

.bipolar-background {
  background-color: $bipolar-color;
}

.bipolar-the-content {
  background-color: $bipolar-white;

  h2 {
    @include bodoni_bold_font;
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;
  }
}

.title-text-content {
  font-family: $bodoni-bold-font;
  font-size: 26px;
  font-weight: 400;
  color: $bipolar-black;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bipolar-counts-container {
  background: url(https://bipolar-peru.s3.amazonaws.com/assets/jeringas_close.jpg) no-repeat center;
  background-size: cover;

  .bipolar-counts {
    text-align: center;

    @include xxs() {
      padding: 1em 0;
    }

    @include xs() {
      padding: 172px 0;
    }

    .bipolar-counts-title {
      @include sahari_bodoni_font;
      font-size: 60px;
      line-height: 1.2;
      color: $bipolar-black;
    }

    .bipolar-counts-subtitle {
      @include bodoni_bold_font;
      font-size: 15px;
      color: $bipolar-black;
      line-height: 1.4;
      margin-top: 12px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}

.bipolar-blog-preview {
  background-color: white;
  padding-top: 50px;

  .first-zone {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      @include sahari_bodoni_font;
      font-size: 60px;
      text-transform: uppercase;
      margin: 0;
      color: $bipolar-black;
      letter-spacing: 3px;
    }

    h4 {
      @include bodoni_bold_font;
      font-size: 15px;
      padding: 0;
      color: $bipolar-black;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-top: 14px;
    }
  }

  .second-zone {
    margin-top: 30px;
    padding-bottom: 60px;

    .title-link {
      @include bodoni_bold_font;
      letter-spacing: 3px;
      font-size: 25px;
      text-transform: uppercase;
      color: $bipolar-black;

      &:hover {
        text-decoration: none;
        color: $bipolar-color;
      }
    }

    a {
      @include gotham_bold_font;
      font-size: 11px;
      color: #6d6e71;
      text-transform: uppercase;
    }
  }
}

.color-transparent {
  background: transparent;
  margin-bottom: 0;
}

.color-white {
  color: $bipolar-white;
}

a {
  color: $bipolar-black;
  &:hover {
    color: $bipolar-black;
  }
}

.btn-link {
  color: $bipolar-black;
}

.content-newsletter {
  color: $bipolar-black;
  background: url(https://bipolar.com.pe/wp-content/uploads/2015/03/huevos.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 30px;

  .container-content {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;

    .newsletter-title {
      @include bodoni_bold_font;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      font-size: 30px;
      margin-top: .5em;
    }

    .newsletter-subtitle {
      @include bodoni_bold_font;
      font-size: 13px;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-top: .5em;
    }

    .form-suscribe {
      margin-top: 1em;
    }
  }
}

.page-404 {
  height: 352px;
  width: 100%;
  text-align: center;

  > h1 {
    font-family: $bodoni-bold-font;
    color: $bipolar-black;
    letter-spacing: 12px;
    display: inline-block;
    border: 5px solid #eee;
    padding: 21px 34px;
    font-size: 80px;
    line-height: 1.2;
  }

  p {
    font-family: $bodoni-bold-font;
    font-size: 15px;
    letter-spacing: 0.2em;
    color: $bipolar-black;
    font-style: normal;
  }
}

.carousel-home {
  height: auto;
  max-height: 800px;
  z-index: $z-index-slider;
}

.header-worldwide-shipping {
  font-family: $bodoni-bold-font;
  color: $bipolar-white;
  background: $bipolar-black;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  line-height: 68px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2em;
}

.bipolar-container {
  @extend .container;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.breadcrumb-without-padding {
  background-color: #F5F5F5;
}

.breadcrumb {
  @extend .breadcrumb-without-padding;
}

.breadcrumb-content {
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"] {
  border: none;
  border-radius: 36px;
  padding: 0 15px;
  text-transform: uppercase;
  color: #878787;
  font-size: 11px;
  text-align: center;
  font-family: $gotham-light-font;
  background-color: $bipolar-gray;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// Remove placeholder on focus
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/* No Gutter Column Trick
================================================== */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}